body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
  font-size: .8rem;
  height: 20.8rem;
	margin: 0;
  overflow: hidden;
  width: 30rem;
}

.header {
    align-items: center;
    background: linear-gradient(160deg, #6ef7b0, #00b256);
    height: 4rem;
    display: flex;
}

.header__link:focus {
  outline: none;
}

.header__logo {
  display: inline-block;
  margin: .2rem 0 0 1.5rem;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  height: 2rem;
}
.logo-wrap{
	background: #fff;
    border-radius: 50%;
	width: 53px;
    height: 53px;
    margin: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-wrap svg{
	width: 42px;
    height: 42px;
}
.container {
  padding:0 15px;
}

.detected {
  line-height: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.detected__category {
  page-break-inside: avoid;
  break-inside: avoid-column;
  margin-bottom: 12px;
  width: 48%;
}

.detected__category-name {
  border-bottom: 1px solid #dbdbdb;
  display: block;
  margin-bottom: .5rem;
}

.detected__category-link {
  color: #06f;
  font-weight: bold;
  line-height: 2rem;
  text-decoration: none;
  font-size: 16px;
}

.detected__category-link:hover {
  color: #4a4a4a;
}

.detected__category-pin-wrapper {
  margin-left: .2rem;
}

.detected__category-pin {
  cursor: pointer;
  display: none;
  height: 16px;
  margin-left: .2rem;
  width: 16px;
  vertical-align: middle;
}

.detected__category:hover .detected__category-pin--inactive {
  display: inline-block;
}

.detected__category-pin-wrapper--active .detected__category-pin--inactive,
.detected__category-pin-wrapper:hover .detected__category-pin--inactive {
  display: none !important;
}

.detected__category-pin-wrapper--active .detected__category-pin--active,
.detected__category-pin-wrapper:hover .detected__category-pin--active {
  display: inline-block;
}

.detected__app {
  font-size: 12px;
  color: #000;
  display: block;
  line-height: 1.7rem;
  text-decoration: none;
  margin-bottom:4px;
  position: relative;
  padding-left: 25px;
}
.detected__app:before{
	content:"";
	background:url("../img/arrow.png") no-repeat;
	width: 19px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 7px;
}

.detected__app:focus {
  display: block;
  outline: 0;
}

.detected__app-icon {
	display: inline-block;
	height: 16px;
  margin-right: .5rem;
	vertical-align: -.2rem;
	width: 16px;
	display: none;
}

.detected__app-name {
}

.detected__app-version, .detected__app-confidence {
  background: #eee;
  border-radius: 3px;
  font-size: .7rem;
  margin-left: .3rem;
  padding: .1rem .2rem;
}

.detected__app:hover .detected__app-name {
  border-bottom: 1px solid #4a4a4a;
}

.detected__app:hover .detected__app-version {
  border-bottom: 1px solid white;
}

.detected__app:hover .detected__app-confidence {
  border-bottom: 1px solid white;
}

.detected-app {
	padding: 7px 0;
}

.detected-app:first-child {
	padding-top: 0;
}

.detected-app:last-child {
	border: none;
	padding-bottom: 0;
}

.empty {
  display: flex;
  height: 14.5rem;
  align-items: center;
  justify-content: center;
}

.empty__text {
}

.terms {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.terms__wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.terms__wrapper--active {
  display: block;
}

.terms__content {
  font-size: .9rem;
  line-height: 150%;
  text-align: center;
  margin-bottom: 1rem;
  width: 80%;
}

.terms__accept {
  background-color: #4608ad;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  padding: .8rem 3rem;
}

.terms__accept:hover {
  background-color: #4107a1;
}

.terms__privacy {
  margin-top: 1rem;
}
h3.feature-txt{
	text-align: center;
    font-size: 22px;
    padding: 0 20px;
    margin: 10px 0;
    font-weight: 400;
	
}
.disclaimer-sec{
	padding: 0 0 18px 0;
	margin:0;
	font-size:9px;
	color: #3b3b3b;
}
.help-text{
	border-top:1px solid #dbdbdb;
	font-size: 10px;
	color: #3b3b3b;
}
